<div class="prof">

<% if (currentUser) {%>
    <h1>Welcome, <%= currentUser.firstName %>  !</h1>

        <div>
            <div>First Name: <%= currentUser.firstName %></div>
        </div>
        <br>
        <div>
            <div>Last Name: <%= currentUser.lastName %></div>
        </div>
        <br>
        <div>
            <div>Email: <%= currentUser.email %></div>
        </div>
        <br>
        <a href="/booking/all?id=<%=user._id%>">My Booking</a> 
        <a href="/profile/edit?id=<%=currentUser._id %>">Update Profile</a>
        <br>
<% } %>

</div>