<h3>All Your Bookings: </h3>
<table>
    <tr>                                       
        <th>Name &nbsp;&nbsp;&nbsp;</th>
        <th>Mobile &nbsp;&nbsp;&nbsp;</th>
        <th>From &nbsp;&nbsp;&nbsp;</th>
        <th>To &nbsp;&nbsp;&nbsp;</th>
        <th>Country &nbsp;&nbsp;&nbsp;</th>
    </tr>
    <% bookings.forEach(function(booking){ %> 
    <% if (currentUser._id.toString() === booking.user._id.toString()) { %> 

        <tr>
             <td><%= booking.firstName %> <%= booking.lastName %>&nbsp;&nbsp;&nbsp;</td>                                
             <td><%= booking.mobile %>&nbsp;&nbsp;&nbsp;</td>                                 
             <td><%= booking.from %>&nbsp;&nbsp;&nbsp;</td>                               
             <td><%= booking.to %>&nbsp;&nbsp;&nbsp;</td>    
             <td>
                     <%= booking.country.name %>
             </td>    
             <td>
                <form method = "POST" action="/booking/delete?id=<%=booking._id%>">
                    <button type="submit">DELETE</button>
                    <a href="/booking/update?id=<%=booking._id%>">UPDATE</a>
                </form>
             </td>                             
        </tr>
<% } %>  

    <% }) %>  
</table>
<br>
