<div class="add">
    <h3>All Your Bookings: </h3>
    
        <% if (bookings.length == 0) { %> 
            <div>No Bookings to show</div>
    <% } else { %>
    <table>
        <tr>                                       
            <th>Name &nbsp;&nbsp;&nbsp;</th>
            <th>Mobile &nbsp;&nbsp;&nbsp;</th>
            <th>From &nbsp;&nbsp;&nbsp;</th>
            <th>To &nbsp;&nbsp;&nbsp;</th>
            <th>Country &nbsp;&nbsp;&nbsp;</th>
        </tr>
        <% bookings.forEach(function(booking){ %> 
    
            <tr>
                 <td><%= booking.firstName %> <%= booking.lastName %>&nbsp;&nbsp;&nbsp;</td>                                
                 <td><%= booking.mobile %>&nbsp;&nbsp;&nbsp;</td>                                 
                 <td><%= booking.from %>&nbsp;&nbsp;&nbsp;</td>                               
                 <td><%= booking.to %>&nbsp;&nbsp;&nbsp;</td>    
                 <td>
                         <%= booking.country.name %>
                 </td>    
                 <td>
                    <form method = "POST" action="/booking/delete?id=<%=booking._id%>">   <!--it will take that booking id and delete it as in the controller function-->
                        <button type="submit">DELETE</button>
                        <a href="/booking/update?id=<%=booking._id%>">UPDATE</a>        <!--it will take that booking id and update it as in the controller function-->
                    </form>
                 </td>                             
            </tr>
    
        <% }) %>  
    </table>
    <br>
    <% } %>
    </div>
    

