<div class="update-box">


    <link rel="stylesheet" href="../CSS/booking/update.css">
    <form method="POST" action="/booking/update">
        
        <h3>Update Booking Form</h3>
    
        <div class="user-box">
            <input type="text" name="firstName" value="<%= booking.firstName %>">
            <br>
            <label>First Name: </label> 
            
        </div>
     
    
    
    <br>
        <div class="user-box">
            <input type="text" name="lastName" value="<%=booking.lastName%>">
            <br>
            <label>Last Name: </label>
           
        </div>
    <br>
        <div class="user-box">
            <input type="text" name="email" value="<%=booking.email%>">
            <br>
            <label>Email: </label>
            
        </div>
    <br>
        <div class="user-box">
            <input type="text" name="mobile" value="<%=booking.mobile%>">
            <br>
            <label>Mobile: </label>
            
        </div>
    <br>
    <% if (!booking.isPackage) { %>        <!--if the booking is not a package; display from and to dates and the countries list, otherwise dont display it so the user can't change the dates and country for a package-->
    <div>
        <label>From: </label>
        <input type="datetime-local" name="from" value="<%=booking.from%>">
    </div>
    <br>
    <div>
        <label>To: </label>
        <input type="datetime-local" name="to" value="<%=booking.to%>">
    </div>
    <br>
    
       

    <br>
        <div class="user-box">
            
                <label>Country: </label>
                <br>
                <br>
                <select name="country"> 
                    <% countries.forEach(function(obj){ %>      <!--upload countries list and let the first selection in the list the previous value of country-->
                        <option value="<%= obj._id %>"     
                        <% if( booking.country.name   ===  obj.name ){%>   
                              selected = "selected" 
                        <% } %>
                        ><%= obj.name %></option>
                    <% }) %>
                </select>     
            
        
            <br>
           
            
            
        </div>
    <% } %>
        <br>
    
        <input type="hidden" name="id" value = "<%= booking._id %>"> 
            <input type="submit" value="Submit">

    </form>
    <br>
    </div>
    

